<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.spring.myweb.freeboard.mapper.IFreeBoardMapper">

	<sql id="searchIfQuery">
		<if test="condition == 'title'">
		WHERE title LIKE '%'||#{keyword}||'%'
		</if>
		<if test="condition == 'content'">
		WHERE content LIKE '%'||#{keyword}||'%'
		</if>
		<if test="condition == 'writer'">
		WHERE writer LIKE '%'||#{keyword}||'%'
		</if>
		<if test="condition == 'titleContent'">
		WHERE content LIKE '%'||#{keyword}||'%' OR writer LIKE '%'||#{keyword}||'%'
		</if>
	</sql>

	<insert id="regist">
		INSERT INTO freeboard(bno, title, writer, content)
		VALUES(freeboard_seq.NEXTVAL, #{title}, #{writer}, #{content})
	</insert>

	<select id="getList" resultType="com.spring.myweb.command.FreeboardVO">
		SELECT *
		FROM
			(	
			SELECT ROWNUM AS rn, fbl.*
			FROM
				(
					SELECT *
					FROM freeboard
					<include refid="searchIfQuery"/>
					ORDER BY ROWNUM DESC
				) fbl
			)
		<![CDATA[
		WHERE rn > ((#{pageNum} - 1) * #{countPerPage})
		AND rn <= (#{pageNum} * #{countPerPage})
		]]>
	</select>

	<select id="getTotal" resultType="int">
		SELECT COUNT(*)
		FROM freeboard
		<include refid="searchIfQuery"/>
	</select>
	
	<select id="getContent" resultType="com.spring.myweb.command.FreeboardVO">
		SELECT * FROM freeboard
		WHERE bno = #{bno}
	</select>
	
	<update id="update">
		UPDATE freeboard
		SET title = #{title}, content = #{content}, updatedate = SYSDATE
		WHERE bno = #{bno}
	</update>
	
	<delete id="delete">
		DELETE FROM freeboard
		WHERE bno = #{bno}
	</delete>

</mapper>